@model RafflesUserViewModel
@if (Model.Raffles.First().Expired)
{
    <h1 class="expired">@Model.Raffles.First().Title<i> - Завершен</i></h1>
}
else
{
    <h1 class="active">@Model.Raffles.First().Title</h1>
}

<p class="date">До @Model.Raffles.First().ExpirationTime.ToString("dd-MM-yyyy HH:mm")</p>
@*<p class="fdescription"><b>@Model.Description</b></p>*@
<p class="fdescription">@Model.Raffles.First().FullDescription</p>

<table class="PrizeWin">
    <tr>
        @if (Model.Raffles.First().IsPrivate && Model.Raffles.First().AuthorId == Context.Session.GetInt32("userId"))
        {
        <td class="td-raffle">
            <p class="tableh">Участники</p>
            <!--<form action="/RaffleList/SaveParticipants" method="post">-->
            <!--asp-action="SaveParticipants" method="post">-->
            <textarea class="edit-tb-participants" name="participants" id="participants" oninput="ShowButton();">@Model.Raffles.First().PrivateParticipants</textarea>
            <!--<input type="text" name="participants" />

    <!--<textarea asp-for="participants" class="edit-tb-large"></textarea>-->

            <input type="submit" id="addButton" class="save-changes-btn" value="Сохранить" onclick="SendParticipants();" />
            <!--</form>-->
        </td>
        }
        <td class="td-raffle">
            <p class="tableh">Призы</p>
            @foreach (Prize prize in Model.Prizes)//onclick="location.href='@Url.Action("EditRaffle", "RaffleList")'"
            {
                <p class="prize"><b>@prize.Place</b> - @prize.PrizeDescription</p>
            }
        </td>
        <td class="td-raffle">
            <p class="tableh">Победители</p>
            @if (Model.Raffles.First().Expired)
            {
                if (Model.Raffles.First().IsPrivate)
                {
                    if (Model.PrivateWinners != null)
                    {
                        foreach (string winner in Model.PrivateWinners)
                        {
                            <p class="prize">@winner</p>
                        }
                    }
                }
                else if(Model.Winners != null)
                {
                    foreach (User winner in Model.Winners)
                    {
                        <p class="prize">@winner.Name @winner.Surname</p>
                    }
                }
            }
            else
            {
                for (int i = 0; i < Model.Prizes.Count(); ++i)
                {
                    <p class="prize"> ---</p>
                }
            }
        </td>
    </tr>
    @if (Model.Raffles.First().IsPrivate && Model.Raffles.First().AuthorId == Context.Session.GetInt32("userId"))
    {
        <tr>
            <td class="td-raffle">
                <p class="tableh">API ключ:</p>
                <input type="text" class="api-key" name="" value="@Model.Raffles.First().Key" disabled />
            </td>
        </tr>
    }
</table>

<div class="page-btn-group">
    @if (Model.User != null)
    {
        if (Context.Session.GetInt32("userId") != null)
        {
            if (Model.User.Admin || Context.Session.GetInt32("userId") == Model.Raffles.First().AuthorId)
            {
                if (!Model.Raffles.First().Expired)
                {
                    <input type="button" class="button" value="Завершить" onclick="location.href='@Url.Action("FinishRaffle", "RaffleList")'" />
                    <input type="button" class="button" value="Редактировать" onclick="location.href='@Url.Action("EditRaffle", "RaffleList")'" />
                }
                <input type="button" class="button" value="Удалить" onclick="location.href='@Url.Action("DeleteRaffle", "RaffleList")'" />
            }
            else if (!Model.Raffles.First().Expired && !Model.UserRaffles.Contains(Model.Raffles.First().Id))
            {
                <input type="button" class="button" id="participate" value="Участвовать" onclick="Participate();"/><!--onclick="location.href='@Url.Action("Participate", "RaffleList")'" />-->
            }
        }
    }
</div>

<script>
    function ShowButton() {
        //document.getElementById("addButton").style["visibility"] = "visible";        
        document.getElementById("addButton").style["display"] = "block";
    }

    function SendParticipants() {
        //document.getElementById("addButton").style["visibility"] = "hidden";    
        document.getElementById("addButton").style["display"] = "none";   
        
        $input = $('#participants').val();
        $.ajax({
            url: "/RaffleList/SaveParticipants",            
            type: "POST",
            data: {participants: $input },
            success: function () {
            },
            error:                 
                function(jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.status);
            }            
        });
    }

    function Participate() {
        document.getElementById("participate").style["display"] = "none";
        $.ajax({
            url: "/RaffleList/Participate",
            type: "POST",
            data: {  }
        });
    }

</script>